nav {
    display: flex;
    justify-content: center; /* Center horizontally */
    gap: 30px; /* Space between items */
    padding: 20px 0;
}
.na {
    color: #7a1317;
}
.big-logo {
    position: relative;
    margin-top: 5rem;
    margin-left: 5rem;

    z-index: -200;
}

body {

    background-image: url(pointed\ bg-01-01.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    font-family: "din-2014-rounded-variable", sans-serif;
    font-variation-settings: "wght" 300;
    cursor: pointer;
    box-shadow: 5px 5px 10px 2px rgba(26, 26, 26, 0.2);
}

body {
    font-family: "din-2014-rounded-variable", sans-serif;
}

.content-wrapper {
    display: flex;
    align-items: flex-start; 
    gap: 4rem;               
    padding: 4rem;           
}

.content-img {
     padding-top: 5rem;
    max-width: 600px;
    height: auto;
}

.eye-first-p {
    padding-top: 5rem;
    width: 40%;        
    line-height: 1.6;  
    color: #7a1317;
    font-size: 15px;
    text-align: center;

}

.square {
    color: #7a1317; 
    width: 6rem;
}

.icon {
    flex-direction: row;
    justify-content: center;
}

.about-us-p {

    margin-top: 6rem;
    margin-left: 40rem;
    margin-right: 8rem;
    color: aliceblue;
}

.ABOUT-US {
    position: absolute;
    left: 5rem;      /* move it left */
    top: 2rem;       /* adjust vertical position */
    letter-spacing: 2px;
    font-family: "am-udine", sans-serif;
    font-weight: 400;
    font-style: normal;
font-size: 13rem;
margin-left: 2rem;
color: #7a1317;}